* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --welcome-screen-color: #dfdfdf;
    --sidebar-color: #f5f5f5;
    --silver-hover: #e3e3e3;
    --add-project-button-color: #3498db;
    --add-project-button-hover: #2980b9;
    --faded-text-color: #00000051;
}

.welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--welcome-screen-color);
    text-align: center;
}


.welcome-title {
    font-size: 3rem;
}

.welcome-subtitle {
    font-size: 1.25rem;
    color: var(--faded-text-color);
    margin-bottom: 2rem;
}

.add-project-button {
    background-color: var(--add-project-button-color);
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    border-radius: 3rem;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
    box-shadow: 0 4px 15px rgba(52, 152, 219, 0.3);
}

.add-project-button:hover {
    background-color: var(--add-project-button-hover);
    box-shadow: 0 6px 20px rgba(52, 152, 219, 0.4);
}

.main-site {
    display: grid;
    grid-template-columns: 0.8fr 4fr;
    height: 100vh;
}

.project-sidebar {
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

.project-sidebar .site-logo {
    cursor: pointer;
    margin: 0.5rem 0 1.5rem 0;
    width: 70%;
}



.project-sidebar .add-project-button {
    width: 70%;
    border-radius: 1rem;
    padding: 1rem 0rem;
    margin-bottom: 2rem;
}

.project-sidebar>p {
    color: var(--faded-text-color);
    font-weight: 600;
    margin-bottom: 0.4rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

.project-list {
    list-style: none;
    max-height: 60vh;
    overflow: auto;
}

.project-list li {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 4px;
    cursor: pointer;
}

.project-list li:hover {
    background-color: var(--silver-hover);
}

.inactive {
    display: none;
}